<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :turn, "Turno" %><br>
    <%= f.select :turn, Classroom.turns.keys, prompt: 'Selecione', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :unity_id, "Unidade" %><br>
    <%= f.select :unity_id, Unity.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecione'} %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
    <%= link_to 'Voltar', classrooms_path, class: 'btn btn-info' %>
  </div>
<% end %>
