<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li class=""><i class="fa fa-home" aria-hidden="true"></i> <a href="/">Home</a></li>
  <li class=""><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Turmas</li>
</ol>

<div class="col-lg-4 pull-left">
    <div class="row">
      <h3 style="margin: 0px;"><i class="fa fa-list" aria-hidden="true"></i> Lista de Turmas</h3>
    </div>
</div>
<div class="form-group pull-right">
  <%= link_to 'Nova Turma', new_classroom_path, class: 'btn btn-success'  %>
</div>

<div class="clearfix"></div>
<hr/>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>NOME</th>
      <th>TURNO</th>
      <th>UNIDADE</th>
      <th colspan="3">AÇÕES</th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.name %></td>
        <td><%= classroom.turn %></td>
        <td><%= classroom.unity.name %></td>
        <td><%= link_to '', classroom, class: 'fa fa-eye' %></td>
        <td><%= link_to '', edit_classroom_path(classroom), class: 'fa fa-pencil' %></td>
        <td><%= link_to '', classroom, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @classrooms %>
