<p id="notice"><%= notice %></p>
<div class="col-lg-5 pul-left">
    <div class="row">
        <h3 style="margin: 0px;"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Dados</h3>
    </div>
</div>

<div class="clearfix"></div>
<hr/>

<table class="table">
    <tbody>
    <tr>
        <th>NOME</th>
        <td><%= @classroom.name %></td>
    </tr>
    <tr>
        <th>TURNO</th>
        <td><%= @classroom.turn %></td>
    </tr>
    <tr>
        <th>UNIDADE</th>
        <td><%= @classroom.unity.name %></td>
    </tr>
    </tbody>
</table>

<%= link_to 'Editar', edit_classroom_path(@classroom), class: 'btn btn-success' %>
<%= link_to 'Voltar', classrooms_path, class: 'btn btn-info' %>
