<p id="notice"><%= notice %></p>
<div class="col-lg-5 pul-left">
    <div class="row">
        <h3 style="margin: 0px;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Dados</h3>
    </div>
</div>

<div class="clearfix"></div>
<hr/>
<table class="table">
  <tbody>
    <tr>
      <th>NOME</th>
      <td><%= @student.name %></td>
    </tr>
    <tr>
      <th>IDADE</th>
      <td><%= @student.age %></td>
    </tr>
    <tr>
      <th>SEXO</th>
      <td><%= @student.sex %></td>
    </tr>
    <tr>
      <th>MATRICULA</th>
      <td><%= @student.registration %></td>
    </tr>
    <tr>
      <th>ATIVO</th>
      <td>
        <% if @student.active %>
          Ativo
        <% else %>
          Inativo
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Editar', edit_student_path(@student), class: 'btn btn-success' %>
<%= link_to 'Voltar', students_path, class: 'btn btn-info' %>
