<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @student.sex %>
</p>

<p>
  <strong>Parent one:</strong>
  <%= @student.parent_one %>
</p>

<p>
  <strong>Parent two:</strong>
  <%= @student.parent_two %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @student.registration %>
</p>

<p>
  <strong>Active:</strong>
  <%= @student.active %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
