<%= form_for(@unity) do |f| %>
  <% if @unity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unity.errors.count, "error") %> prohibited this unity from being saved:</h2>

      <ul>
      <% @unity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="row">
      <div class="form-group col-md-12">
        <div class="row">
          <%= f.label :school_id, "Escola" %><br>
          <%= f.select :school_id, School.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Por Favor Selecione'}, {class: 'form-control', required: true} %>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="row">
          <%= f.label :name, "Nome" %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group col-md-8">
        <div class="row">
          <%= f.label :street, "Rua" %>
          <%= f.text_field :street, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group col-md-4">
          <%= f.label :number, "Número" %>
          <%= f.text_field :number, class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <div class="row">
          <%= f.label :neighborhood, "Bairro" %>
          <%= f.text_field :neighborhood, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :city, "Cidade" %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :state, "Estado" %>
        <%= f.text_field :state, class: 'form-control' %>
      </div>

      <div class="form-group col-md-6">
        <div class="row">
          <%= f.label :phone_1, "Celular" %>
          <%= f.text_field :phone_1, class: 'form-control phone_with_ddd' %>
        </div>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :phone_2, "Telefone Fixo" %>
        <%= f.text_field :phone_2, class: 'form-control phone' %>
      </div>

      <div class="form-group col-md-6">
        <div class="row">
          <%= f.label :active, "Ativo" %><br>
          <%= f.check_box :active %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar", class: 'btn btn-success' %>
    <%= link_to 'Voltar', unities_path, class: 'btn btn-info' %>
  </div>
<% end %>
