<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li class=""><i class="fa fa-home" aria-hidden="true"></i> <a href="/">Home</a></li>
  <li class=""><i class="fa fa-industry" aria-hidden="true"></i> Unidades</li>
</ol>

<div class="col-lg-4 pull-left">
    <div class="row">
        <h3 style="margin: 0px;"><i class="fa fa-list" aria-hidden="true"></i> Lista de Unidades</h3>
    </div>
</div>
<div class="form-group pull-right">
  <%= link_to 'Nova Unidade', new_unity_path, class: 'btn btn-success' %>
</div>

<div class="clearfix"></div>
<hr/>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>NOME</th>
      <th>BAIRRO</th>
      <th>CIDADE</th>
      <th>CONTATO</th>
      <th>ESCOLA</th>
      <th>ATIVO</th>
      <th colspan="3">AÇÕES</th>
    </tr>
  </thead>

  <tbody>
    <% @unities.each do |unity| %>
      <tr>
        <td><%= unity.name %></td>
        <td><%= unity.neighborhood %></td>
        <td><%= unity.city %></td>
        <td><%= unity.phone_1 %></td>
        <td><%= unity.school.name %></td>
        <td>
          <% if unity.active %>
            Ativo
          <% else %>
            Inativo
          <% end %>
        </td>
        <td><%= link_to '', unity, class: 'fa fa-eye' %></td>
        <td><%= link_to '', edit_unity_path(unity), class: 'fa fa-pencil' %></td>
        <td><%= link_to '', unity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
