<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unity.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @unity.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @unity.number %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @unity.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @unity.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @unity.state %>
</p>

<p>
  <strong>Phone 1:</strong>
  <%= @unity.phone_1 %>
</p>

<p>
  <strong>Phone 2:</strong>
  <%= @unity.phone_2 %>
</p>

<p>
  <strong>School:</strong>
  <%= @unity.school.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @unity.active %>
</p>

<%= link_to 'Edit', edit_unity_path(@unity) %> |
<%= link_to 'Back', unities_path %>
