<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.select :sex, Teacher.sexes.keys, prompt: 'Selecione' %>
  </div>
  <div class="field">
    <%= f.label :phone_1 %><br>
    <%= f.text_field :phone_1 %>
  </div>
  <div class="field">
    <%= f.label :phone_2 %><br>
    <%= f.text_field :phone_2 %>
  </div>
  <div class="field">
    <%= f.label :registration %><br>
    <%= f.text_field :registration %>
  </div>
  <div class="">
    <span>Lista de Unidades</span><br>
    <%= f.fields_for :works do |ff| %>
      <%= ff.collection_check_boxes(:unity_ids, @unity, :id, :name) do |b| %>
        <%= b.check_box %>
        <%= b.label %>
      <% end %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
