<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :registration, "Matricula" %><br>
    <%= f.text_field :registration, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sex, "Sexo" %><br>
    <%= f.select :sex, Teacher.sexes.keys, {prompt: 'Por Favor Selecione'}, {class: 'form-control', required: true} %>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="form-group">
        <%= f.label :phone_1, "Celular" %><br>
        <%= f.text_field :phone_1, class: 'form-control phone_with_ddd' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :phone_2, "Telefone Fixo" %><br>
      <%= f.text_field :phone_2, class: 'form-control phone' %>
    </div>
  </div>
  <div class="form-group">
    <span><b>Lista de Unidades</b></span><br>
    <%= f.fields_for :works do |ff| %>
      <% @unity.each do |u| %>
        <input type="checkbox" name="teacher[works][unity_id]" value="<%= u.id %>">
        <%= u.name %>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :active, "Ativo" %><br>
    <%= f.check_box :active %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
    <%= link_to 'Voltar', teachers_path, class: 'btn btn-info' %>
  </div>
<% end %>
