<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li class=""><i class="fa fa-home" aria-hidden="true"></i> <a href="/">Home</a></li>
  <li class=""><i class="fa fa-address-card-o" aria-hidden="true"></i> Professores</li>
</ol>

<div class="col-lg-4 pull-left">
    <div class="row">
        <h3 style="margin: 0px;"><i class="fa fa-list" aria-hidden="true"></i> Lista de Professores</h3>
    </div>
</div>
<div class="form-group pull-right">
  <%= link_to 'Novo Professor', new_teacher_path, class: 'btn btn-success' %>
</div>

<div class="clearfix"></div>
<hr/>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>NOME</th>
      <th>SEXO</th>
      <th>CELULAR</th>
      <th>TELEFONE FIXO</th>
      <th>MATRICULA</th>
      <th>ATIVO</th>
      <th colspan="3">AÇÃO</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.sex %></td>
        <td><%= teacher.phone_1 %></td>
        <td><%= teacher.phone_2 %></td>
        <td><%= teacher.registration %></td>
        <td><%= teacher.active %></td>
        <td><%= link_to '', teacher, class: 'fa fa-eye' %></td>
        <td><%= link_to '', edit_teacher_path(teacher), class: 'fa fa-pencil' %></td>
        <td><%= link_to '', teacher, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
