<p id="notice"><%= notice %></p>
<div class="col-lg-5 pul-left">
    <div class="row">
        <h3 style="margin: 0px;"><i class="fa fa-bank" aria-hidden="true"></i> Dados</h3>
    </div>
</div>

<div class="clearfix"></div>
<hr/>

<table class="table">
  <tbody>
    <tr>
      <th>NOME</th>
      <td><%= @teacher.name %></td>
    </tr>
    <tr>
      <th>MATRICULA</th>
      <td><%= @teacher.registration %></td>
    </tr>
    <tr>
      <th>SEXO</th>
      <td><%= @teacher.sex %></td>
    </tr>
    <tr>
      <th>CELULAR</th>
      <td><%= @teacher.phone_1 %></td>
    </tr>
    <tr>
      <th>TELEFONE FIXO</th>
      <td><%= @teacher.phone_2 %></td>
    </tr>
    <tr>
      <th>ATIVO</th>
      <td><%= @teacher.active %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Editar', edit_teacher_path(@teacher), class: 'btn btn-success' %>
<%= link_to 'Voltar', teachers_path, class: 'btn btn-info' %>
