<p id="notice"><%= notice %></p>
<div class="col-lg-5 pul-left">
    <div class="row">
        <h3 style="margin: 0px;"><i class="fa fa-bank" aria-hidden="true"></i> Dados</h3>
    </div>
</div>

<div class="clearfix"></div>
<hr/>

<table class="table">
    <tbody>
    <tr>
        <th>NOME</th>
        <td><%= @school.name %></td>
    </tr>
    <tr>
        <th>CNPJ</th>
        <td>
          <%= @school.cnpj %>
        </td>
    </tr>
    <tr>
        <th>SITUAÇÃO</th>
        <td>
          <% if @school.active %>
            Ativo
          <% else %>
            Inativo
          <% end %>
        </td>
    </tr>
    </tbody>
</table>

<%= link_to 'Editar', edit_school_path(@school), class: 'btn btn-success' %>
<%= link_to 'Voltar', schools_path, class: 'btn btn-info' %>
