<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li class=""><i class="fa fa-home" aria-hidden="true"></i> <a href="/">Home</a></li>
  <li class=""><i class="fa fa-users" aria-hidden="true"></i> Responsáveis</li>
</ol>

<div class="col-lg-4 pull-left">
    <div class="row">
        <h3 style="margin: 0px;"><i class="fa fa-list" aria-hidden="true"></i> Lista de Responsáveis</h3>
    </div>
</div>
<div class="form-group pull-right">
  <%= link_to 'Novo Responsável', new_parent_path, class: 'btn btn-success' %>
</div>

<div class="clearfix"></div>
<hr/>

<div class="table-responsive">
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>NOME</th>
      <th>CPF</th>
      <th>IDADE</th>
      <th>SEXO</th>
      <th>CELULAR</th>
      <th>ATIVO</th>
      <th colspan="3">AÇÕES</th>
    </tr>
  </thead>

  <tbody>
    <% @parents.each do |parent| %>
      <tr>
        <td><%= parent.name %></td>
        <td><%= parent.cpf %></td>
        <td><%= parent.age %></td>
        <td><%= parent.sex %></td>
        <td><%= parent.phone_1 %></td>
        <td>
          <% if parent.active %>
            Ativo
          <% else %>
            Inativo
          <% end %>
        </td>
        <td><%= link_to '', parent, class: 'fa fa-eye' %></td>
        <td><%= link_to '', edit_parent_path(parent), class: 'fa fa-pencil' %></td>
        <td><%= link_to '', parent, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= paginate @parents %>
